body {
    margin: 15px 0 15px 0;
    background-color: #efefef;
}

.mybadge {
    background-color: unset;
    color: unset;
    font-size: 16px;
}

.healthy {
    color: green;
}

.pending {
    color: gray;
}

.warning {
    color: orange;
}

.failed {
    color: red;
}

#last-update {
    float: right;
}

#logo {
    margin-bottom: 20px;
    width:100%;
    text-align: center;
}

#logo img {
    max-width: 100%;
}

@media (min-width: 650px) {
    #logo-img {
        max-width: 500px;
    }

    .list-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .list-group-item {
        box-sizing: border-box;
        flex: 0 0 50%;
    }

    .list-group-item:first-child {
        border-radius: 0;
    }

    .list-group-item-info {
        flex: 0 0 100%;
    }
}

@media (min-width: 992px) {
    .list-group-item {
        flex-basis: 33.33%;
    }

    .list-group-item-info {
        flex-basis: 100%;
    }
}
